@import 'variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  margin: 0px;
  width: 100%;

  @include respond(phone) {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__logo {
    @include respond(tab-land) {
      width: 15rem;
    }
  }

  @include respond(tab-land) {
    height: 12rem;
  }
  @include respond(phone) {
    margin-bottom: -2.5rem;
  }
}

.instructions {
  text-align: center;
  font-size: large;
  font-weight: 500;
  margin: 2rem;

  &--mobile {
    display: none;
    @include respond(tab-land) {
      display: inline;
    }
  }
  &--desktop {
    @include respond(tab-land) {
      display: none;
    }
  }
}

#my-div {
  display: block !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95rem;
    position: relative;

    .gameboard {
      display: flex;

      @include respond(phone) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .grids {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
          order: 2;
          flex-wrap: wrap;
        }

        &--opacity {
          opacity: 0.4;
        }

        &__computer-grid {
          width: 40rem;
          height: 40rem;
          outline: 1px solid $divider-color;
          display: flex;
          flex-wrap: wrap;
          overflow: hidden;
          background: $gradient-top;
          justify-content: center;
          align-items: center;
          @include respond(phone) {
            order: 3;
            margin-top: 2rem;
            width: 30rem;
            height: 30rem;
          }

          & > * {
            width: 10%;
            height: 10%;
            border: 0.5px solid $divider-color;
            border-radius: 0.4rem;
          }

          --missedHit {
            background-color: $primary-color-light;
          }
          &__--hit {
            background-color: $red-munsell;
          }
        }

        &__player-grid {
          width: 40rem;
          height: 40rem;
          outline: 1px solid $divider-color;
          display: flex;
          flex-wrap: wrap;
          overflow: hidden;
          background: $gradient-top;
          justify-content: center;
          align-items: center;
          @include respond(phone) {
            order: 1;
            width: 30rem;
            height: 30rem;
          }
          & > * {
            width: 10%;
            height: 10%;
            border: 0.5px solid $divider-color;
            border-radius: 0.4rem;
          }
          &--missedHit {
            background-color: $primary-color-light;
          }
          &--hit {
            background-color: $red-munsell;
          }
        }
        &--ship {
          background-color: $primary-color;
        }

        &--small {
          width: 20rem;
          height: 20rem;
          margin-right: 5rem;
          background: $indigo-dye;
          @include respond(phone) {
            margin-right: 0;
            width: 17rem;
            height: 17rem;
          }
        }
      }
    }
  }
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 5rem;

  &__btn {
    border: none;
    background-color: $indigo-dye;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      // color: black;
      background-color: #8b0000;
    }
  }
  @include respond(phone) {
    margin-top: 2rem;
  }
}

.computer-fleet {
  height: 18rem;
  width: 20rem;
  border: 0.6rem solid $indigo-dye;
  margin-left: 5rem;
  display: none;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  order: 3;

  @include respond(phone) {
    order: 2;
    margin-left: 1rem;
  }

  &__text {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 500;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 80%;

    &__ship {
      display: flex;

      &--block {
        color: black;
        width: 2em;
        height: 1rem;
        border: 0.5px solid black;
        margin: 0.5rem;
      }
    }
  }
}

.ships {
  width: 30rem;
  height: 40rem;
  border: 2px solid $indigo-dye;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 4rem;
  margin-right: 3rem;
  @include respond(phone) {
    width: 95%;
    height: 10rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.carrier {
  width: 20rem;
  height: 4rem;
  display: flex;
  flex-direction: row;

  @include respond(phone) {
    width: 15rem;
    height: 3rem;
  }

  & > * {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border: 0.1rem solid $platinum;
    border-radius: 0.4rem;
  }

  :first-child {
    cursor: pointer;
  }

  &--column {
    width: 3.9rem;
    height: 20rem;
    flex-direction: column;

    & > * {
      height: 4rem;
    }
    @include respond(phone) {
      width: 3rem;
      height: 15rem;
    }
  }
}

.shake {
  animation: shake 1s;
  @include respond(phone) {
    animation: none;
  }
}

.battleship {
  width: 16rem;
  height: 4rem;
  display: flex;

  @include respond(phone) {
    width: 12rem;
    height: 3rem;
  }

  &__block {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border: 0.1rem solid $platinum;
    border-radius: 0.5rem;
  }

  :first-child {
    cursor: pointer;
  }

  &--column {
    width: 4rem;
    height: 16rem;
    flex-direction: column;

    & > * {
      height: 4rem;
    }
    @include respond(phone) {
      width: 3rem;
      height: 12rem;
    }
  }
}

.cruiser {
  width: 12rem;
  height: 4rem;
  display: flex;

  @include respond(phone) {
    width: 9rem;
    height: 3rem;
  }

  &__block {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border: 0.1rem solid $platinum;
    border-radius: 0.5rem;
  }

  :first-child {
    cursor: pointer;
  }

  &--column {
    width: 4rem;
    height: 12rem;
    flex-direction: column;

    & > * {
      height: 4rem;
    }
    @include respond(phone) {
      width: 3rem;
      height: 9rem;
    }
  }
}

.submarine {
  width: 12rem;
  height: 4rem;
  display: flex;

  @include respond(phone) {
    width: 9rem;
    height: 3rem;
  }

  &__block {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border: 0.1rem solid $platinum;
    border-radius: 0.5rem;
  }

  :first-child {
    cursor: pointer;
  }
  &--column {
    width: 4rem;
    height: 12rem;
    flex-direction: column;

    & > * {
      height: 4rem;
    }

    @include respond(phone) {
      width: 3rem;
      height: 9rem;
    }
  }
}

.destroyer {
  width: 8rem;
  height: 4rem;
  display: flex;

  @include respond(phone) {
    width: 6rem;
    height: 3rem;
  }

  &__block {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border: 0.1rem solid $platinum;
    border-radius: 0.5rem;
  }

  :first-child {
    cursor: pointer;
  }

  &--column {
    width: 4rem;
    height: 8rem;
    flex-direction: column;

    & > * {
      height: 4rem;
    }

    @include respond(phone) {
      width: 3rem;
      height: 6rem;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
